@font-face {
   font-family: 'Dela Gothic One';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/bolua/Downloads/deploy-6517dc6711fd767bf8605cfa/fonts/Dela Gothic One/regular.ttf') format('truetype');
}
